<div>
    <h2 id="page-heading">
        <span>Activities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/activity-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Activity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="activities?.length === 0">
        <span>No activities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="activities && activities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Time Spent</span></th>
                    <th scope="col" ><span>Project</span></th>
                    <th scope="col" ><span>User</span></th>
                    <th scope="col" ><span>Week</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities ;trackBy: trackId">
                    <td><a [routerLink]="['/activity', activity.id, 'view']">{{ activity.id }}</a></td>
                    <td>{{ activity.timeSpent }}</td>
                    <td>
                        <span *ngFor="let project of activity.projects; let last = last">
                            <a class="form-control-static" [routerLink]="['/project', project?.id, 'view']">{{ project.name }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let user of activity.users; let last = last">
                            {{ user.firstName }}{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let week of activity.weeks; let last = last">
                            <a class="form-control-static" [routerLink]="['/week', week?.id, 'view']">{{ week.label }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/activity', activity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/activity', activity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
