<div>
    <h2 id="page-heading">
        <span>Suivi d'activité</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/activity-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Créer une nouvelle activité
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="activities?.length === 0">
        <span>No activities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="activities && activities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>Année</span></th>
                    <th scope="col" ><span>Semaine</span></th>
                    <th scope="col" ><span>Projet</span></th>
                    <th scope="col" ><span>Collaborateur</span></th>
                    <th scope="col" ><span>Nombre de jours</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities ;trackBy: trackId">
                    <td>
                        <div *ngIf="activity.week">
                            <span>{{ activity.week?.year }}</span>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="activity.week">
                            <span>{{ activity.week?.label }}</span>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="activity.project">
                            <span>{{ activity.project?.name }}</span>
                        </div>
                    </td>
                    <td>
                        {{ activity.user?.firstName }}
                    </td>
                    <td>{{ activity.timeSpent }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/activity', activity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
