<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome, Java Hipster!</h1>

        <button id="suivi-activity" class="btn btn-primary btn-lg btn-block" [routerLink]="['/activity-user/']">
            <fa-icon icon="tachometer-alt"></fa-icon>
            <span>
            Suivi d'activité
            </span>
        </button>
        <button id="projects" class="btn btn-primary btn-lg btn-block" [routerLink]="['/project/']">
            <fa-icon icon="list"></fa-icon>
            <span>
            Listes des projets
            </span>
        </button>

    </div>
</div>
